<h3 class="heading-bordered text-capitalize m-b-3">
            <small class="text-muted font-italic">Event</small>
            Details        </h3>
<div class="card card-horizontal shadow-8 shadow-hover-16 transition m-b-3">
  <div class="row flex-items-xs-middle">
    <!-- Event meta -->
    <div class="col-lg-6 flex-lg-first">
      <div class="card-block">
        <dl class="row"> <dt class="col-md-4">
            <span class="text-muted font-italic">
                Date:            </span>
        </dt>
          <dd class="col-md-8"> <abbr class="tribe-events-abbr tribe-events-start-date published dtstart" title="2020-02-26"> February 26, 2020 </abbr> </dd> <dt class="col-md-4">
            <span class="text-muted font-italic">
                Time:            </span>
        </dt>
          <dd class="col-md-8">
            <div class="tribe-events-abbr tribe-events-start-time published dtstart" title="2020-02-26"> 8:00 am - 5:00 pm </div>
          </dd> <dt class="col-md-4"><span class="text-muted font-italic">Categories:</span></dt>
          <dd class="tribe-events-event-categories col-md-8"><a href="../../events/category/teaching/default.htm" rel="tag">Teaching</a></dd>
        </dl>
        <dl class="row"> <dt class="tribe-venue col-md-4 text-muted font-italic">
        Venue:    </dt>
          <dd class="tribe-venue-location col-md-8"> <strong><a href="../../venue/syntagma-spuare/default.htm">St Gabriel&#8217;s Church Hall</a></strong> </dd> <dt class="tribe-venue col-md-4 text-muted font-italic">
        Address    </dt>
          <dd class="tribe-venue-location col-md-8"> <address class="tribe-events-address">
                <span class="tribe-address">

        <span class="tribe-street-address">Churchill Gardens Rd.</span>
    
                    <span class="tribe-locality">London</span><span class="tribe-delimiter">,</span>
    
            <abbr class="tribe-region tribe-events-abbr" title="Camden">Camden</abbr>
    
            <span class="tribe-postal-code">458563</span>
    
            <span class="tribe-country-name">United Kingdom</span>
    
</span>
            </address> </dd> <dt class="col-md-4">
            <span class="text-muted font-italic">
                Phone:            </span>
        </dt>
          <dd class="tribe-venue-tel col-md-8"> +44 7967 655515 </dd> <dt class="col-md-4">
            <span class="text-muted font-italic">
                Website::
            </span>
        </dt>
          <dd class="url col-md-8"> <a href="../../../../www.oxygenna.com/default.htm" target="_self">www.oxygenna.com</a> </dd>
        </dl>
        <dl class="row"> <dt style="display:none;"></dt> <dt class="col-md-4">
            <span class="text-muted font-italic">
                Organizer:            </span>
        </dt>
          <dd class="tribe-organizer col-md-8"> <a href="../../organizer/divinity-church/default.htm" title="Divinity Church Club">Divinity Church Club</a> </dd> <dt class="col-md-4">
                <span class="text-muted font-italic">
                    Phone:                </span>
            </dt>
          <dd class="tribe-organizer-tel col-md-8"> 210 300 400 5 </dd> <dt class="col-md-4">
                <span class="text-muted font-italic">
                    Email:                </span>
            </dt>
          <dd class="tribe-organizer-email col-md-8"> &#105;n&#102;o&#064;&#111;&#120;&#121;g&#101;nna.&#099;&#111;m </dd> <dt class="col-md-4">
                <span class="text-muted font-italic">
                    Website:                </span>
            </dt>
          <dd class="tribe-organizer-url col-md-8"> <a href="../../../../www.oxygenna.com/default.htm" target="_self">www.oxygenna.com</a> </dd>
        </dl>
      </div>
    </div>
    <div class="col-lg-6 flex-lg-last">
      <div class="tribe-events-venue-map">
        <div id="tribe-events-gmap-0" style="height: 550px; width: 100%" aria-hidden="true"></div>
        <!-- #tribe-events-gmap- -->
      </div>
    </div>
  </div>
</div>
<!-- Event footer -->
<div id="tribe-events-footer" class="row m-b-9">
  <!-- Navigation -->
  <div class="col-xs-6">
    <h3 class="heading-bordered text-capitalize tribe-events-nav-previous text-xs-left">
                    <a href="../the-test-of-faith/default.htm">
                        <small class="text-muted font-italic">
                            &larr;
                            Previous Event                        </small>
                        The Test of Faith                    </a>
                </h3> </div>
  <div class="col-xs-6">
    <h3 class="heading-bordered heading-bordered-reversed text-capitalize tribe-events-nav-next text-xs-right">
                    <a href="../the-blood-of-the-martyrs-is-seed/default.htm">
                        <small class="text-muted font-italic">
                            Next Event                            &rarr;
                        </small>
                        The Blood of the Martyrs Is Seed                    </a>
                </h3> </div>
</div>
<!-- After event footer -->
<h3 class="heading-bordered text-capitalize m-b-3">
        <small class="text-muted font-italic">Upcoming</small>
        Events    </h3>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow-8 shadow-hover-16 transition m-b-3">
      <div class="card-img-container"> <img width="1000" height="625" src="assets/sites/3/2016/12/divinity-09-notinclude-1000x625.jpg" class="card-img wp-post-image" alt="" srcset="assets/sites/3/2016/12/divinity-09-notinclude-1000x625.jpg 1000w, assets/sites/3/2016/12/divinity-09-notinclude-1000x625-300x188.jpg 300w, assets/sites/3/2016/12/divinity-09-notinclude-1000x625-768x480.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center"> <span class="h3 d-block m-b-0">
                    01                </span> <span class="d-block">
                    Jan                </span> </div>
      </div>
      <div class="card-block">
        <h3 class="card-title tribe-related-events-title">
                <a class="tribe-event-url" href="../the-test-of-faith/default.htm" rel="bookmark">
                    The Test of Faith                </a>
            </h3>
        <h6 class="card-subtitle font-italic text-muted m-b-0">
                                            <i class="fa fa-map-marker"></i>
                        Church of New York &#8211; Assembly Hall                                                                , in New York                                        <i class="fa fa-clock-o"></i>
                    08:00                </h6> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-8 shadow-hover-16 transition m-b-3">
      <div class="card-img-container"> <img width="1000" height="625" src="assets/sites/3/2016/12/divinity-01-notinclude-1000x625.jpg" class="card-img wp-post-image" alt="" srcset="assets/sites/3/2016/12/divinity-01-notinclude-1000x625.jpg 1000w, assets/sites/3/2016/12/divinity-01-notinclude-1000x625-300x188.jpg 300w, assets/sites/3/2016/12/divinity-01-notinclude-1000x625-768x480.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center"> <span class="h3 d-block m-b-0">
                    11                </span> <span class="d-block">
                    Mar                </span> </div>
      </div>
      <div class="card-block">
        <h3 class="card-title tribe-related-events-title">
                <a class="tribe-event-url" href="../the-blood-of-the-martyrs-is-seed/default.htm" rel="bookmark">
                    The Blood of the Martyrs Is Seed                </a>
            </h3>
        <h6 class="card-subtitle font-italic text-muted m-b-0">
                                            <i class="fa fa-map-marker"></i>
                        Athens Metropolitan Venue                                                                , in Athens                                        <i class="fa fa-clock-o"></i>
                    08:00                </h6> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-8 shadow-hover-16 transition m-b-3">
      <div class="card-img-container"> <img width="1000" height="625" src="assets/sites/3/2016/12/divinity-10-notinclude-1000x625.jpg" class="card-img wp-post-image" alt="" srcset="assets/sites/3/2016/12/divinity-10-notinclude-1000x625.jpg 1000w, assets/sites/3/2016/12/divinity-10-notinclude-1000x625-300x188.jpg 300w, assets/sites/3/2016/12/divinity-10-notinclude-1000x625-768x480.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center"> <span class="h3 d-block m-b-0">
                    26                </span> <span class="d-block">
                    Mar                </span> </div>
      </div>
      <div class="card-block">
        <h3 class="card-title tribe-related-events-title">
                <a class="tribe-event-url" href="../speaking-the-gospel-with-clarity/default.htm" rel="bookmark">
                    Speaking the Gospel with Clarity                </a>
            </h3>
        <h6 class="card-subtitle font-italic text-muted m-b-0">
                                            <i class="fa fa-map-marker"></i>
                        St Gabriel&#8217;s Church Hall                                                                , in London                                        <i class="fa fa-clock-o"></i>
                    08:00                </h6> </div>
    </div>
  </div>
</div>
<h3 class="tribe-events-related-events-title heading-bordered text-capitalize m-t-9 m-b-3">
        <small class="text-muted font-italic">Related</small> Events    </h3>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow-8 shadow-hover-16 transition m-b-3">
      <div class="card-img-container"> <img width="1000" height="625" src="assets/sites/3/2016/12/divinity-09-notinclude-1000x625.jpg" class="card-img wp-post-image" alt="" srcset="assets/sites/3/2016/12/divinity-09-notinclude-1000x625.jpg 1000w, assets/sites/3/2016/12/divinity-09-notinclude-1000x625-300x188.jpg 300w, assets/sites/3/2016/12/divinity-09-notinclude-1000x625-768x480.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center"> <span class="h3 d-block m-b-0">
                    01                </span> <span class="d-block">
                    Jan                </span> </div>
      </div>
      <div class="card-block">
        <h3 class="card-title tribe-related-events-title">
                <a class="tribe-event-url" href="../the-test-of-faith/default.htm" rel="bookmark">
                    The Test of Faith                </a>
            </h3>
        <h6 class="card-subtitle font-italic text-muted m-b-0">
                                            <i class="fa fa-map-marker"></i>
                        Church of New York &#8211; Assembly Hall                                                                , in New York                                        <i class="fa fa-clock-o"></i>
                    08:00                </h6> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-8 shadow-hover-16 transition m-b-3">
      <div class="card-img-container"> <img width="1000" height="625" src="assets/sites/3/2016/12/divinity-01-notinclude-1000x625.jpg" class="card-img wp-post-image" alt="" srcset="assets/sites/3/2016/12/divinity-01-notinclude-1000x625.jpg 1000w, assets/sites/3/2016/12/divinity-01-notinclude-1000x625-300x188.jpg 300w, assets/sites/3/2016/12/divinity-01-notinclude-1000x625-768x480.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center"> <span class="h3 d-block m-b-0">
                    11                </span> <span class="d-block">
                    Mar                </span> </div>
      </div>
      <div class="card-block">
        <h3 class="card-title tribe-related-events-title">
                <a class="tribe-event-url" href="../the-blood-of-the-martyrs-is-seed/default.htm" rel="bookmark">
                    The Blood of the Martyrs Is Seed                </a>
            </h3>
        <h6 class="card-subtitle font-italic text-muted m-b-0">
                                            <i class="fa fa-map-marker"></i>
                        Athens Metropolitan Venue                                                                , in Athens                                        <i class="fa fa-clock-o"></i>
                    08:00                </h6> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-8 shadow-hover-16 transition m-b-3">
      <div class="card-img-container"> <img width="1000" height="625" src="assets/sites/3/2016/12/divinity-10-notinclude-1000x625.jpg" class="card-img wp-post-image" alt="" srcset="assets/sites/3/2016/12/divinity-10-notinclude-1000x625.jpg 1000w, assets/sites/3/2016/12/divinity-10-notinclude-1000x625-300x188.jpg 300w, assets/sites/3/2016/12/divinity-10-notinclude-1000x625-768x480.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center"> <span class="h3 d-block m-b-0">
                    26                </span> <span class="d-block">
                    Mar                </span> </div>
      </div>
      <div class="card-block">
        <h3 class="card-title tribe-related-events-title">
                <a class="tribe-event-url" href="../speaking-the-gospel-with-clarity/default.htm" rel="bookmark">
                    Speaking the Gospel with Clarity                </a>
            </h3>
        <h6 class="card-subtitle font-italic text-muted m-b-0">
                                            <i class="fa fa-map-marker"></i>
                        St Gabriel&#8217;s Church Hall                                                                , in London                                        <i class="fa fa-clock-o"></i>
                    08:00                </h6> </div>
    </div>
  </div>
</div>