    <div class="section p-t-8 p-b-8 ">
      <div class="section-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div id="text-2" class="widget widget widget_text">
                <h4 class="widget-header">Allan Ganas Soobiah</h4>
                <div class="textwidget">
                  <p>I was born on the 20th of April 1957 in Umlazi hospital in Durban, KwaZulu Natal, South Africa. 
                  During this time, the population of the Indians was around 650 000. My mother was a housewife. 
                  My father was a cobbler at Welco Shoe Factory in Mobeni. 
                  I came from a family of 7 siblings, 2 brothers and 4 sisters and I am the 5th child. 
                  My father died when I was 8 years old in 1965. </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="tribe-events-adv-list-widget-2" class="widget widget tribe-events-adv-list-widget">
                <h4 class="widget-header">Upcoming Events</h4>
                <ul>
                  <!-- Event  -->
                  <li class="type-tribe_events post-146 tribe-clearfix tribe-events-category-miracles tribe-events-category-praying tribe-events-venue-123 tribe-events-organizer-134 tribe-events-first tribe-events-last">
                    <div class="tribe-mini-calendar-event event-0  first  last ">
                      <a href="/" rel="bookmark" class="pull-xs-left m-r-1 widget-image"> 
                      <img width="150" height="150" src="{{ get_url(path="assets/images/150x150.jpg") }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /> </a>
                      <p class="m-b-0 text-truncate"> <a href="/" rel="bookmark">The Test of Faith</a> </p> 
                      <small class="d-block">
                      <span class="list-info  d-block">
                      <span class="tribe-events-duration">
                      <span class="tribe-event-date-start">January 1, 2020 @ 8:00 am</span> - <span class="tribe-event-time">5:00 pm</span>                </span>
                      <span class="tribe-events-location">
                      </span>
                      </span> <!-- .list-info -->
                      </small>
                    </div>
                  </li>
                  <!-- Event  -->
                  <li class="type-tribe_events post-148 tribe-clearfix tribe-events-category-teaching tribe-events-venue-130 tribe-events-organizer-124 tribe-events-first tribe-events-last">
                    <div class="tribe-mini-calendar-event event-0  first  last ">
                      <a href="/" rel="bookmark" class="pull-xs-left m-r-1 widget-image"> 
                      <img width="150" height="150" src="{{ get_url(path="assets/images/150x150.jpg") }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /> </a>
                      <p class="m-b-0 text-truncate"> <a href="/" rel="bookmark">Prophetic Conference</a> </p> <small class="d-block">
                        <span class="list-info  d-block">
                        <span class="tribe-events-duration">
                        <span class="tribe-event-date-start">February 26, 2020 @ 8:00 am</span> - <span class="tribe-event-time">5:00 pm</span>                </span>
                        <span class="tribe-events-location">
                        </span>
                        </span> <!-- .list-info -->
                        </small>
                    </div>
                  </li>
                  <!-- Event  -->
                  <li class="type-tribe_events post-144 tribe-clearfix tribe-events-category-teaching tribe-events-venue-129 tribe-events-organizer-124 tribe-events-first tribe-events-last">
                    <div class="tribe-mini-calendar-event event-0  first  last ">
                      <a href="/" rel="bookmark" class="pull-xs-left m-r-1 widget-image"> 
                      <img width="150" height="150" src="{{ get_url(path="assets/images/150x150.jpg") }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /> </a>
                      <p class="m-b-0 text-truncate"> <a href="/" rel="bookmark">The Blood of the Martyrs Is Seed</a> </p> <small class="d-block">
                      <span class="list-info  d-block">
                      <span class="tribe-events-duration">
                      <span class="tribe-event-date-start">March 11, 2020 @ 8:00 am</span> - 
                      <span class="tribe-event-time">5:00 pm</span>
                      </span>
                      <span class="tribe-events-location">
                      </span>
                      </span>
                      </small>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div id="recent-posts-3" class="widget widget widget_recent_entries">
                <h4 class="widget-header">Recent Posts</h4>
                <ul>
                  <li class="text-truncate">
                    <a href="/" title="Make a joyful shout to God!" class="pull-xs-left m-r-1 widget-image"> 
                    <img width="150" height="150" src="{{ get_url(path="assets/images/150x150.jpg") }}" 
                    class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /> </a> 
                    <a href="/">Make a joyful shout to God!</a> 
                    <small class="post-date d-block">December 22, 2016</small> </li>
                  <li class="text-truncate">
                    <a href="/" title="I will instruct you &#038; teach you in the way you should go" 
                    class="pull-xs-left m-r-1 widget-image"> 
                    <img width="150" height="150" src="{{ get_url(path="assets/images/150x150.jpg") }}" 
                    class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /> </a> 
                    <a href="/">I will instruct you &#038; teach you in the way you should go</a> 
                    <small class="post-date d-block">December 22, 2016</small> </li>
                  <li class="text-truncate">
                    <a href="/" title="How to support us" class="pull-xs-left m-r-1 widget-image"> 
                    <img width="150" height="150" src="{{ get_url(path="assets/images/150x150.jpg") }}" 
                    class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /> </a> 
                    <a href="default.htm">How to support us</a> 
                    <small class="post-date d-block">December 9, 2016</small> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section p-t-1 p-b-1">
      <div class="section-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div id="text-3" class="widget widget widget_text">
                <div class="textwidget">
                  <p>Forged by ILIAS Creative Concepts. © Allan Ganas Soobiah 2020</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="divinitysocialwidget-2" class="widget widget widget_social">
                <div class="icon-set">
                  <a target="_blank" href="#" class="icon-set-item transition"> <i class="fa fa-instagram"></i> </a>
                  <a target="_blank" href="#" class="icon-set-item transition"> <i class="fa fa-linkedin"></i> </a>
                  <a target="_blank" href="#" class="icon-set-item transition"> <i class="fa fa-facebook"></i> </a>
                  <a target="_blank" href="#" class="icon-set-item transition"> <i class="fa fa-twitter"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
