<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="">
<link rel="pingback" href="">
<title>{% block title %}{{ config.title }}{% endblock title %}</title>
<link rel="stylesheet" href="{{ get_url(path="assets/css/animate.min.css") }}">
<link rel="stylesheet" href="{{ get_url(path="assets/css/ganas.css") }}">
<link rel="alternate" type="application/rss+xml" title="Allan Ganas Soobiah &raquo; How to support us Soweto Indians" href="feed/default.html" />
<link rel='stylesheet' id='font-awesome-css' href="{{ get_url(path="assets/css/fontawesome.min.css") }}" type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css' href="{{ get_url(path="assets/css/dist/block-library/style.min.css@ver=5.0.7.css") }}" type='text/css' media='all' />
<link rel='stylesheet' id='div-style-css' href="{{ get_url(path="assets/css/stack.css") }}" type='text/css' media='all' />
<script type='text/javascript' src="{{ get_url(path="assets/js/jquery/jquery.js") }}"></script>
<script type='text/javascript' src="{{ get_url(path="assets/js/jquery/jquery-migrate.min.js") }}"></script>
<link rel="canonical" href="" />
<style type="text/css">
  .recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
  }
</style>
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="assets/favicon/favicon-16x16.png") }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="assets/favicon/favicon-32x32.png") }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path="assets/favicon/favicon-96x96.png") }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path="assets/favicon/favicon-192x192.png") }}">
<link rel="icon" type="image/png" sizes="230x230" href="{{ get_url(path="assets/favicon/favicon-230x230.png") }}">
<link rel="apple-touch-icon-precomposed" href="{{ get_url(path="assets/favicon/favicon.png") }}">
<meta name="msapplication-TileImage" content="{{ get_url(path="assets/favicon/favicon.png") }}" />
<link rel="shortcut icon" href="{{ get_url(path="assets/favicon/favicon.ico") }}">

<style type="text/css" id="wp-custom-css">
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .9);
  }
  
  .heading-bordered .text-muted {
    color: #fff !important;
  }
</style>
<noscript>
  <style>
    .wpb_animate_when_almost_visible {
      opacity: 1;
    }
  </style>
</noscript>