  <script type='text/javascript'>
    /* <![CDATA[ */
    var theme = {
      "siteLoader": "on"
    };
    /* ]]> */
  </script>
  <!-- Scripts -->
  <script type='text/javascript' src="{{ get_url(path="assets/js/vendor.min.js") }}"></script>
  <script type='text/javascript' src="{{ get_url(path="assets/js/ganas.js") }}"></script>
  <script type='text/javascript' src="{{ get_url(path="assets/js/comment-reply.min.js") }}"></script>
  <script type='text/javascript' src="{{ get_url(path="assets/js/wp-embed.min.js") }}"></script>